/com-durian-manage-system-web/src/main/vue/node_modules/*
*.iml
.idea/
*/target
*/**/target
*.war
*.class
.joycode
.vscode
.claude
.m2
.git.bak/
**/logs/
*/.DS_Store
*/**/.DS_Store
**/.DS_Store
.DS_Store
**/target/
**/build/
**/.classpath
**/.project
**/.settings/
**/node_modules
package-lock.json